body {
    display: flex;
    min-height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
    flex-basis: 1000px;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

header {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

footer {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;

}
nav {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;


}